{% extends "base.html" %}
{%block prismlibrary %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" integrity="sha512-lMYBfgT74ox5lP1QQcah4+Aefdeff7BfKGALBd7k8FV7EnlclxDa0c2O1ylUgmyebvY06vj3Sx65NUC9W4m9ow==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" integrity="sha512-xVX93NEnuXkjfzi0q7TBV8k5Dz2u7jHtyjNfem9e8ED6vw+BQFAve72uVZ5PxNmxvXDSUr5LqHkFrMoKyGfumw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-0eqNhHoWSoKHeOzwGtm0LoKnuKwl5Y0qiOCBaTKw8IXhqkvlV6TwUe4SIYy5yLGsM5JU7N2/wqP6qTtvg+JJFw==" crossorigin="anonymous"></script>
{% endblock %}
{%block title %}Respostas{% endblock %}

{% block main %}

<div class="container">
    <ul>
        <li>
            <div id="q-1" class="question">
                <p>1. Escreva um algoritmo para encontrar os números faltantes de um array: 
                    Input : array(1,2,3,6,7,8); 
                    Output : array([3] => 4, [4] => 5); 
                    </p>
            </div>
            <div id="a-1" class="answer">
                <pre><code class="language-python">
                    from typing import List
                    
                    def encontreNumerofaltante(array: List[int]) -> List[int]:
                        answer = [numero + 1 for numero in range(len(array) - 1) if numero + 1 != array[numero]]
                        return answer
                    
                    print(encontreNumerofaltante([1, 2, 3, 6, 7, 8]))
                        </code></pre>  
            </div>
            
        </li>
        <!-- q2 -->
        <li>
            <div id="q-2" class="question">
                <p>2. Escreva um algoritmo para encontrar três números consecutivos de um array que somados o resultado é igual a zero: 
                    Input : array(-1,0,1,2,-1,-4); 
                    Output : array([0] => -1 + 0 + 1 = 0);0 
                    
                    </p>
            </div>
            <div id="a-2" class="answer">
                <pre><code class="language-javascript">
                    const findNumWhichSumEqualsZero = (array) => {
                      let counter = 0;
                      let answer = [];
                    
                      for (let i = 0; i <= array.length - 3; i++) {
                        if (array[i] + array[i + 1] + array[i + 2] === 0) {
                          counter++;
                          answer.push([array[i], array[i + 1], array[i + 2]]);
                        }
                      }
                    
                      counter
                        ? console.log(`A sequência apresenta ${counter} combinações que resultam em zero`)
                        : console.log(`A sequência não apresenta combinações que resultam em zero`);
                    
                      return answer;
                    };
                    
                    console.log(findNumWhichSumEqualsZero([-1, 0, 1, 2, -1, -4]));
                        </code></pre>
            </div>
            
        </li>
        <!-- q3 -->

        <li>
            <div id="q-3" class="question">
                <p>3- Escreva um algoritmo para encontrar três números consecutivos de um array que somados o resultado é igual a um outro número fornecido: 
                    Input : (array(2, 7, 7, 1, 8, 2, 7, 8, 7), 16)); 
                    Output : array( 
                    [0] => 2 + 7 + 7 = 16, 
                    [1] => 7 + 1 + 8 = 16 
                    ); 
                    
                    
                    </p>
            </div>
            <div id="a-3" class="answer">
                <pre><code class="language-javascript">
                    function encontreTresNumeros(array, target) {
                        let resposta = [];
                      
                        for (let i = 0; i <= array.length - 3; i++) {
                          if (array[i] + array[i + 1] + array[i + 2] === target) {
                            resposta.push([array[i], array[i + 1], array[i + 2]]);
                          }
                        }
                      
                        return resposta;
                      }
                      
                      const resultado = encontreTresNumeros([2, 7, 7, 1, 8, 2, 7, 8, 7], 16);
                      console.log(resultado);
                        </code></pre>
            </div>
            
        </li>
    </ul>
</div>

{% endblock %}